@font-face {
    font-family: "torus";
    src: url(Fontspring-DEMO-toruspro-regular.otf);
}

html{
    background-image: url(menu-background-1.jpg);
    background-size: cover;
    width:100%;
}

.logo{
    font-family: "torus";
    margin-top:260px;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    margin-left: 770px;
    margin-right:auto;
    background-color: rgb(222, 89, 149);
    border: 10px solid aliceblue;
    font-size: 110px;
    color: white;
    z-index: 3;
    transition: all 0.1s;
}

.logo:hover{
    position: absolute;
    width:310px;
    height:310px;
    line-height: 310px;
    margin-left: 765px;
    font-size: 110px;
    margin-top:250px;
    border: 12px solid aliceblue;
}

.back{
    font-family: "torus";
    margin-top:370px;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(50, 50, 50);
    width: 1920px;
    height:120px;
    z-index: 1;
}

.toc{
    font-family: "torus";
    position: absolute;
    margin-top: 370px;
    margin-left: 580px;
    width: 230px;
    height: 120px;
    line-height:200px;
    background-color: rgb(85, 85, 85);
    font-size: 10px;
    color: white;
    transform: skew(-20deg);
    z-index: 2;
}


.start{
    font-family: "torus";
    position: absolute;
    margin-top: 370px;
    margin-left: 1060px;
    width: 250px;
    height: 120px;
    line-height:200px;
    background-color: gray;
    font-size: 10px;
    color: white;
    transform: skew(-20deg);
    z-index: 2;
}


.settings{
    position: absolute;
    width: 2%;
    margin-top: 410px;
    margin-left: 660px;
    z-index: 3;
}

.osulogobutton{
    position: absolute;
    width: 2.5%;
    margin-top: 405px;
    margin-left: 1150px;
    z-index: 3;
}